<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
    <title>Alg&#x00B3 - 3x3  - PLL</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" >
</head>

<body>
    <h1>PLL</h1>
    <div id="alg-box">
        <table>
            <tr>
              <th id="case">Case</th>
              <th id="picture">Picture</th>
              <th id="algorithm">Algorithm</th>
            </tr>
            <tr>
              <td>Aa</td>
              <td><img src="images/Aa.png"></td>
              <td id="Aa">Most popular algorithm: <%= algorithmTest[0][0].algorithm %></td>
            </tr>
            <tr>
                <td>Ab</td>
                <td><img src="images/Ab.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[1][0].algorithm %></td>
              </tr>
              <tr>
                <td>E</td>
                <td><img src="images/E.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[2][0].algorithm %></td>
              </tr>
              <tr>
                <td>F</td>
                <td><img src="images/F.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[3][0].algorithm %></td>
              </tr>
              <tr>
                <td>Ga</td>
                <td><img src="images/Ga.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[4][0].algorithm %></td>
              </tr>
              <tr>
                <td>Gb</td>
                <td><img src="images/Gb.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[5][0].algorithm %></td>
              </tr>
              <tr>
                <td>Gc</td>
                <td><img src="images/Gc.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[6][0].algorithm %></td>
              </tr>
              <tr>
                <td>Gd</td>
                <td><img src="images/Gd.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[7][0].algorithm %></td>
              </tr>
              <tr>
                <td>H</td>
                <td><img src="images/H.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[8][0].algorithm %></td>
              </tr>
              <tr>
                <td>Ja</td>
                <td><img src="images/Ja.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[9][0].algorithm %></td>
              </tr>
              <tr>
                <td>Jb</td>
                <td><img src="images/Jb.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[10][0].algorithm %></td>
              </tr>
              <tr>
                <td>Na</td>
                <td><img src="images/Na.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[11][0].algorithm %></td>
              </tr>
              <tr>
                <td>Nb</td>
                <td><img src="images/Nb.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[12][0].algorithm %></td>
              </tr>
              <tr>
                <td>Ra</td>
                <td><img src="images/Ra.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[13][0].algorithm %></td>
              </tr>
              <tr>
                <td>Rb</td>
                <td><img src="images/Rb.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[14][0].algorithm %></td>
              </tr>
              <tr>
                <td>T</td>
                <td><img src="images/T.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[15][0].algorithm %></td>
              </tr>
              <tr>
                <td>Ua</td>
                <td><img src="images/Ua.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[16][0].algorithm %></td>
              </tr>
              <tr>
                <td>Ub</td>
                <td><img src="images/Ub.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[17][0].algorithm %></td>
              </tr>
              <tr>
                <td>V</td>
                <td><img src="images/V.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[18][0].algorithm %></td>
              </tr>
              <tr>
                <td>Y</td>
                <td><img src="images/Y.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[19][0].algorithm %></td>
              </tr>
              <tr>
                <td>Z</td>
                <td><img src="images/Z.png"></td>
                <td>Most popular algorithm: <%= algorithmTest[20][0].algorithm %></td>
              </tr>
          </table>
    </div>
</body>
<script>
  var algorithmTest = <%- JSON.stringify(algorithmTest) %>
  console.log(algorithmTest)
</script>
</html>